/* 
    General Styles
*/
@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


#responsive-navbar-nav {
padding-right: 30px;
}

#logo {
     margin-top: 0px;
    width: 104px;
    height: auto;
    padding-left: 30px;
}
.navbar-brand {
    color:whitesmoke;
}
.navbar-nav a {
    color:whitesmoke;
}

.jumbotron {
    margin-top: 187px;

}
.image-about {
    float: left;
}

.card-title {
    text-align: center;
}

.footer {
color: white;
background-color: rgb(1, 46, 107);
}
.card-info {
    margin-bottom: auto;
    font-size: 13px;
}
.address  {
display: flex;
}
.phones {
display: flex;
}

.email{
display: flex;
}

.copyrights {

color: white;
background-color: rgb(25, 32, 43);
text-align: center;
font-size: 15px;

}
.copyrights h1{
    font-size: 15px;
    padding: 12px;
}