/* 
    General Styles
*/
@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


#responsive-navbar-nav {
padding-right: 50px;
}
.login-but {
    float: right;
}

#logo {
    margin-top: 0px;
    width: 105px;
    height: auto;
    margin-left:  50px;
}
.navbar-brand {
    color:whitesmoke;
}
.navbar-nav a {
    color:whitesmoke;
}



.featurette-divider {
    margin-top: 9rem;
    background-color: orangered;
    
}

.image-about {
    max-width: 500px;
    max-height: auto;


}

.card-title {
    text-align: center;
}

.footer {
color: white;
background-color: rgb(57, 61, 65);
padding-top: 15px;
}
.card-info {
    margin-bottom: auto;
    font-size: 13px;
}
.address  {
display: flex;
}
.phones {
display: flex;
}

.email{
display: flex;
}

.copyrights {

color: white;
background-color: rgb(57, 61, 65);
justify-content: center;
font-size: 15px;

}
.copyrights h1{
    font-size: 15px;
    padding: 12px;
}

.nphones{
    color: coral;
}
.fa-plane-departure{
    font-size: 100px
}
.fa-ship{
    font-size: 100px
}
.fa-truck-moving{
    font-size: 100px
}
.fa-warehouse{
    font-size: 100px;
}

// tracking style
.card-body {
    padding: 0px;
}
.container-main {
    height: 440px;
    width: auto;
    padding-left: 100px;
}
.container-airlines {
    display: flex;
    background-image: url("https://images.pexels.com/photos/912050/pexels-photo-912050.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    
    
    
}
.container-trucking {
    display: flex;
    background-image: url("https://images.pexels.com/photos/2800121/pexels-photo-2800121.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
  
   
   
}

.icon-title {
    align-self: center;
    text-align: center;
}
.fa-plane-departure {
    font-size: 7vw;
    color: rgb(28, 40, 73)
}
.airline {
    font-size: 7vw;
    color: rgb(28, 40, 73)
}

.fa-truck-moving {
    font-size: 7vw;
    color: rgb(28, 40, 73)
}
.trucking {
    font-size: 7vw;
    color: rgb(28, 40, 73)

}
.card-tracking{
    margin: 5px;
    background-color: rgba(239, 239, 241, 0.37);
    max-width: auto;
    max-height: 100px;
    align-items: center;
    padding: 0px;
}
.tracking-divider {
    background-color: orangered;
}