/* 
    General Styles
*/
@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


#responsive-navbar-nav {
padding-right: 50px;
}

#logo {
    margin-top: 0px;
    width: 105px;
    height: auto;
    margin-left:  50px;
}
.navbar-brand {
    color:whitesmoke;
}
.navbar-nav a {
    color:whitesmoke;
}



.featurette-divider {
    margin-top: 9rem;
    
}

.image-about {
    max-width: 500px;
    max-height: auto;


}

.card-title {
    text-align: center;
}

.footer {
color: white;
background-color: rgb(57, 61, 65);
}
.card-info {
    margin-bottom: auto;
    font-size: 13px;
}
.address  {
display: flex;
}
.phones {
display: flex;
}

.email{
display: flex;
}

.copyrights {

color: white;
background-color: rgb(57, 61, 65);
justify-content: center;
font-size: 15px;

}
.copyrights h1{
    font-size: 15px;
    padding: 12px;
}

// tracking style
.card-body {
    padding: 0px;
}
.container-main {
    height: 500px;
    width: auto;
}
.container-airlines {
    display: flex;
    background-image: url("https://images.pexels.com/photos/912050/pexels-photo-912050.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.icon-title {
    align-self: center;
    text-align: center;
}
.fa-plane-departure {
    font-size: 10vw;
    color: rgb(28, 40, 73)
}
.airline {
    font-size: 10vw;
    color: rgb(28, 40, 73)
}

.card-tracking{
    margin: 5px;
    background-color: rgba(239, 239, 241, 0.37);
    max-width: auto;
    max-height: 100px;
    align-items: center;
    padding: 0px;
}